main .container {
    position: relative;
    margin: 0 13%;
    border-right: rgba(255,255,255,0.1) solid 1px;
    border-left: rgba(255,255,255,0.1) solid 1px;
    padding-bottom: 50px;
}

main .container::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,0.1);
    top: 0;
    left: 50%;
}
