.confettis  *
{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.confettis  a {
    position: absolute;
    z-index: 200;
    top: 2%;
    left: 2%;
    font-family: 'Cera';
    font-size: 14px;
    color: white;
    text-decoration: none;

}

.confettis  a::before {
    content: '';
    position: absolute;
    top: 75%;
    left: -20px;
    width: 10px;
    height: 1px;
    background: white;
    transform: rotate(45deg);
}

.confettis  a::after {
    content: '';
    position: absolute;
    top: 33%;
    left: -20px;
    width: 10px;
    height: 1px;
    background: white;
    transform: rotate(-45deg);
}

.confettis  h1 
{
    font-family: 'Cera';
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    user-select: none;
}

.confettis  #canvas, #canvas-2
{
    background-image: linear-gradient(to right top, #845ec2, #e65faa, #ff8080, #ffbb61, #f9f871);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}