.App {
    background: black;
    color: white;
    font-family: Cera;
    font-weight: 400;
    font-size: 16px;
}

h4 {
    font-size: 24px;  
}

@font-face {
    font-family: Cera;
    font-weight: 400;
    src: url(./assets/fonts/Cera-regular.otf);
}
@font-face {
    font-family: Cera;
    font-weight: 700;
    src: url(./assets/fonts/Cera-bold.otf);
}
@font-face {
    font-family: Cera;
    font-weight: 300;
    src: url(./assets/fonts/Cera-light.otf);
}
@font-face {
    font-family: Cera;
    font-weight: 600;
    src: url(./assets/fonts/Cera-medium.otf);
}